

<div class="  row m-5 gap-5 ">
{{#each products}}

<div class="border border-dark gap-1 card">
    <h2 class="text-center">{{nombre}}</h2>
    <img src="{{imagen}}" alt="productImage">
    <p class="text-center">${{precio}}</p>
    <button class="border-black  " id="boton-comprar">AGREGAR AL CARRITO</button>
</div>

{{/each}}
</div>


<style>
.card{
    background-color: blue;
    width: 300px;
    height: 600px;
   object-fit: contain;
   height: 500px;
   padding: 10px;
}
.card:hover{
    box-shadow: 5px 5px 5px  black;
}
button{
    background-color:  lightgreen;
    border-radius: 5px;
}
img{
    border: 2px solid black;
    height: 60%;
}
</style>
