<nav>
    <ul>
        <img class="logo" src="https://i.ibb.co/SX2DHwrj/CATTANEO-HERMANOS-LOGO.jpg" alt="logo">
        <li><a href="/">NOSOTROS</a></li>
        <li><a href="/ofertas">PRODUCTOS</a></li>
        <li><a href="/carrito">SERVICIOS</a></li>
        <li><a href="/carrito">NOVEDADES</a></li>
        <li><a href="/carrito">CONTACTO</a></li>
        <li><a href="/carrito">CARRITO</a></li>
    </ul>
</nav>

<style>
    nav{
        top: 0%;
background-color: blue;
position: sticky;
z-index: 1000;
border: 3px solid black;

}

    ul{
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 20px;
       
    }
    li{
        list-style: none;
        margin: auto;
    }
    a{
text-decoration: none;
color: black;
    }
    .logo{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
   
</style>