.div-error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.boton-volver-error{
    border: 2px solid black;
    border-radius: 5px;
    width: 10%;
    background-color: blue;
}